.glossary_section {
    margin: auto;
    padding: 20px;
    padding-top: 0px;
    background-color: #f3ead9;
    border-radius: 10px;
    text-align: justify;
    width: fit-content;
}

.glossary_subSection {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.glossary_title {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

.glossary_subtitle {
    font-size: 1.5rem;
    font-style: italic;
    color: #424242;
    margin-top: 20px;
}

.glossary_item h5 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}