.home_section {
    padding: 20px;
    background-color: #f3ead9;
    border-radius: 10px;
    width: 600px;
    margin: 20px auto;
    justify-content: center;
}

.news_item {
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e4d0ae;
    justify-content: center;
}

.btn-item {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-item:hover {
    background-color: #268b29;
    transition: background-color 0.3s ease;
}
