.home_section {
    padding: 20px;
    background-color: #f3ead9;
    border-radius: 10px;
    width: 700px;
    min-width: 600px;
    margin: 20px auto;
    justify-content: center;
}

.news_item {
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e4d0ae;
    justify-content: center;
}

.news_item h4 {
    font-size: 1.2rem;
}

.btn-item {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-item:hover {
    background-color: #268b29;
    transition: background-color 0.3s ease;
}

.company_item {
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e4d0ae;
}

.company_item h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.company_infos {
    display: flex;
    flex-direction: row;
    margin : 20px;
    margin-top: 5px;
    padding: 0px;
    justify-content: space-between;
}

.positive {
    color: green;
}

.negative {
    color: red;
}